{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>

        <legend>MOVIE INFORMATON</legend>

<p>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter Movie Name">
</p>

    <p>
     <label for="desc">Description</label>
    <input type="text" id="desc" name="desc" placeholder="Enter Movie Description">
        </p>
    <p>
        <label for="year">Year</label>
    <input type="number" id="year" name="year" placeholder="Enter Year"  min="1950" max="2023" step="1" value="2023" >
    </p>
    <p>
        <label for="img">Image</label>
        <input type="file" id="img" name="img">
    </p>
        <p>
            <input type="submit">
        </p>


     </fieldset>
</form>

</body>
</html>
{% endblock %}