{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ obj.img.url}}" width="300" height="280">

        </div>
        <div class="col-md-6">
            <h2>{{obj.name}}</h2><br>
           <h3>{{obj.desc}}</h3><br>
            <h3>On Theaters : {{obj.year}}</h3><br>

           <a  class = "btn btn-warning"href  ="{% url 'movieapp:update' obj.id %}">UPDATE</a>
            <a  class = "btn btn-danger"href  ="{% url 'movieapp:delete' obj.id %}">DELETE</a>

        </div>



{% endblock %}


    </div>

</div>
